= content_for :title do
  = t('page_title.about')

%section.about.section-animation{ class: @lang }
  .about__container.container
    .about__video{ style: @rtl }
      %img{ src: image_path('about/about_dov_kram.webp'), alt: t('page_title.about') }
    .about__content{ style: "max-height: 499px; overflow: auto; #{@rtl}" }
      %h1.about__title.section-title{ style: "#{"font-size: 24px; line-height: 34px;" if @lang.empty?}" }= t('about_us.title')
      .about__info{ style: @rtl }= raw t('about_us.info')
    .section-label
      %span= t('menu.about')
%section.team.section-animation{ class: @lang }
  .team__container.container
    .section-label.to-left
      %span= t('menu.our_team')
    .team__content{ style: @rtl }
      .team-slider.swiper
        .team__grid.swiper-wrapper
          - %w(elyashiv_kimchi sarit_izhakian dov_kram liron_dotan abraham_chacra).each do |nm|
            .swiper-slide
              .team__card.card-team
                .card-team__image
                  %picture
                    %source{ srcset: image_path("team/#{nm}.webp"), type: "image/webp" }
                    = image_tag("team/#{nm}.jpg", width: "216", height: "325", alt: t("our_team.#{nm}.name"))
                %h3.card-team__name= t("our_team.#{nm}.name")
                %span.card-team__pos= t("our_team.#{nm}.title")
                %p.card-team__desc= t("our_team.#{nm}.description")
