%section.about
  .about__container.container
    .about__video
      %button.about__video-play.btn-reset
        %img{ alt: "", height: "35", src: image_path('video-play.svg'), width: "35" }
      %img{ alt: "", height: "499", src: image_path("about/poster.jpg"), width: "630" }
    .about__content
      %h1.about__title.section-title About Us
      .about__info
        %p.about__desc Dov Kram Ltd construction company is one that is known for its high-quality work, attention to detail, and customer satisfaction. We employ skilled and experienced professionals who are able to handle all aspects of the construction process, from initial planning and design to final completion and cleanup. We use the best materials and techniques to ensure that the finished product is durable, functional, and aesthetically pleasing.
        %p.about__desc Dov Kram Ltd is also known for its reliability and professionalism, completing projects on time and within budget. Overall, Dov Kram Ltd is one that is highly regarded in the industry and trusted by its clients to deliver exceptional results.
    .section-label
      %span ABOUT US
%section.team
  .team__container.container
    .section-label.to-left
      %span Our Team
    .team__content
      %h2.team__title.section-title Our Team
      .team__grid
        .team__card.card-team
          .card-team__image
            %picture
              %source{ srcset: image_path('team/Abraham_Chacra.webp'), type: "image/webp" }
                = image_tag('team/Abraham_Chacra.jpg', width: "216", height: "325")
          %h3.card-team__name Abraham Chacra
          %p.card-team__desc Director of Administration. Manages all Administrative Tasks and Leads all Back Office Operations.
        .team__card.card-team
          .card-team__image
            %picture
              %source{ srcset: image_path('team/Elyashiv_Kimchi.webp'), type: "image/webp" }
                = image_tag('team/Elyashiv_Kimchi.jpg', width: "216", height: "325")
          %h3.card-team__name Elyashiv Kimchi
          %p.card-team__desc COO Manages day to day Operations of the Company and On Site Management.
        .team__card.card-team
          .card-team__image
            %picture
              %source{ srcset: image_path('team/Dov_Kram.webp'), type: "image/webp" }
                = image_tag('team/Dov_Kram.jpg', width: "216", height: "325")
          %h3.card-team__name Dov Kram
          %p.card-team__desc CEO and Founder of Dov Kram LTD.
        .team__card.card-team
          .card-team__image
            %picture
              %source{ srcset: image_path('team/Liron_Dotan.webp'), type: "image/webp" }
                = image_tag('team/Liron_Dotan.jpg', width: "216", height: "325")
          %h3.card-team__name Liron Dotan
          %p.card-team__desc Purchasing and Relations Director. Manages Negotiations and Contact with all Suppliers and Service Providers.
        .team__card.card-team
          .card-team__image
            %picture
              %source{ srcset: image_path('team/Sarit_Izhakian.webp'), type: "image/webp" }
                = image_tag('team/Sarit_Izhakian.jpg', width: "216", height: "325")
          %h3.card-team__name Sarit Izhakian
          %p.card-team__desc CFO Manages Financial Operations of the Company.
