%section.reviews.section-animation{ class: @lang, style: @rtl }
  .reviews__container.container
    %h1.reviews__title.section-title= t('reviews.title')
    .reviews__content
      .section-label.to-left
        %span= t('menu.reviews')
      .reviews-slider.swiper
        .swiper-wrapper
          .reviews__slide.swiper-slide
            .reviews__block.block-reviews
              .block-reviews__image{ style: 'height: 393px' }
                = image_tag "reviews/first_prize_residential_apartments_israel_2022.webp", alt: '', width: '536'
              .block-reviews__content
                %span= t('reviews.first_prize.title')
                .block-reviews__desc= raw t('reviews.first_prize.desc')

          .reviews__slide.swiper-slide
            .reviews__block.block-reviews
              .block-reviews__image
                = image_tag "reviews/dov_kram_on_stair.webp", alt: '', width: '536'
              .block-reviews__content
                %span= t('reviews.trade_magazine.title')
                .block-reviews__desc= raw t('reviews.trade_magazine.desc')
                = link_to t('reviews.trade_magazine.link_name'), 'https://www.bvd.co.il/%d7%9e%d7%a2%d7%a6%d7%91%d7%99%d7%9d-%d7%95%d7%90%d7%93%d7%a8%d7%99%d7%9b%d7%9c%d7%99%d7%9d-%d7%9b%d7%9c-%d7%9e%d7%94-%d7%a9%d7%9b%d7%93%d7%90%d7%99-%d7%9c%d7%93%d7%a2%d7%aa/%d7%aa%d7%95%d7%9b%d7%9f-%d7%a9%d7%99%d7%95%d7%95%d7%a7%d7%99/%d7%97%d7%91%d7%a8%d7%aa-%d7%94%d7%a0%d7%99%d7%94%d7%95%d7%9c-%d7%91%d7%99%d7%a6%d7%95%d7%a2-%d7%93%d7%91-%d7%a7%d7%a8%d7%90%d7%9d-%d7%91%d7%a2%d7%9e/', class: 'block-reviews__link'

          .reviews__slide.swiper-slide
            .reviews__block.block-reviews
              .block-reviews__image
                = image_tag "reviews/maimonides_newsletter.webp", alt: '', width: '536'
              .block-reviews__content
                %span= t('reviews.maimonides.title')
                .block-reviews__desc= raw t('reviews.maimonides.desc')
                = link_to t('reviews.maimonides.link_name'), 'https://dovkram.s3.eu-west-2.amazonaws.com/maimonides_article.pdf', class: 'block-reviews__link'

          - @reviews = Review.all
          - ix = rand(0..4) * 10
          - ix = 1 if ix.eql?(0)
          - @reviews.each do |review|
            .reviews__slide.swiper-slide
              .reviews__block.block-reviews
                .block-reviews__image
                  = image_tag "gallery/gallery_#{ix}.webp", alt: '', height: '576', width: '536'
                .block-reviews__content
                  %span= review.translations.find_by(locale: :en).name
                  .block-reviews__desc
                    = simple_format review.translations.find_by(locale: :en).desc
            - ix += 1

        .swiper-button-prev
        .swiper-button-next
