%section.reviews
  .reviews__container.container
    %h1.reviews__title.section-title What our customers say?
    .reviews__content
      .section-label.to-left
        %span REVIEWS
      .reviews-slider.swiper
        .swiper-wrapper
          -# .reviews__slide.swiper-slide
            .reviews__block.block-reviews
              .block-reviews__image{ style: 'height: 393px' }
                = image_tag "reviews/first_price_residential_apartments_israel_2022.webp", alt: '', width: '536'
              .block-reviews__content
                %span
                .block-reviews__desc
                  First Prize on Residential Apartments 2022

          - @reviews = Review.all
          - ix = rand(0..4) * 10
          - ix = 1 if ix.eql?(0)
          - @reviews.each do |review|
            .reviews__slide.swiper-slide
              .reviews__block.block-reviews
                .block-reviews__image
                  -# = image_tag "reviews/image-#{rand(1..6)}.jpg", alt: '', height: '576', width: '536'
                  = image_tag "gallery/gallery_#{ix}.webp", alt: '', height: '576', width: '536'
                .block-reviews__content
                  %span= review.name
                  .block-reviews__desc
                    = review.content
            - ix += 1

        .swiper-button-prev
        .swiper-button-next
