%section.property.section-animation{ class: @lang, style: @rtl }
  .property__container.container
    .property__tabs
      %button.property__tab.active.btn-reset= t('services.general_contracting.title')
      %button.property__tab.btn-reset= t('services.project_management.title')
    .property__items
      .property__item.active.item-property{ style: @rtl }
        = raw t('services.general_contracting.desc')
        .item-property__image
          %img{ src: image_path('services/general_contracting.jpg'), alt: t('services.general_contacting.image.alt')}
        .section-label
          %span= t('services.general_contracting.title')

      .property__item.item-property{ style: @rtl }
        = raw t('services.project_management.desc')
        .item-property__image
          %img{ src: image_path('services/project_management.jpg'), alt: t('services.project_management.image.alt') }
        .section-label
          %span= t('services.project_management.title')
