%section.services
  .services__container.container
    .services__inner
      .section-label.to-left
        %span Services
      .services__content
        .services__block.block-services.active
          .block-services__image
            = image_tag 'services/image-1.jpg', alt: '', height: '298', width: '591'
          %h3.block-services__title Luxurious Property Project Management & Construction.
        .services__block.block-services
          .block-services__image
            = image_tag 'services/image-2.jpg', alt: '', height: '298', width: '591'
          %h3.block-services__title High End Property Project Management & Construction.
%section.property
  .property-slider.swiper
    .swiper-wrapper
      .property__slide.swiper-slide
        .property__image
          = image_tag 'services/image-1.jpg', alt: '', height: '298', width: '591'
        .property__container.container
          .section-label.to-left
            %span Services
          .property__content
            %span 01
            %h1.property__title Project Management
            %button.property__button.btn-primary.btn-reset{"data-modal" => "luxurious-property"} Read more
      .property__slide.swiper-slide
        .property__image
          = image_tag 'services/image-2.jpg', alt: '', height: '298', width: '591'
        .property__container.container
          .section-label.to-left
            %span Services
          .property__content
            %span 02
            %h1.property__title General Contracting
            %button.property__button.btn-primary.btn-reset{"data-modal" => "high-end"} Read more
    .swiper-button-prev
    .swiper-button-next

#luxurious-property.project.modal
  .project__container.container
    %button.back-to.btn-reset
      %svg{fill: "none", height: "24", viewbox: "0 0 13 29", width: "8"}
        %path{d: "M12 28L2 14.5L12 1", stroke: "white", "stroke-width" => "2"}
      Back
    .project__content
      .section-label.to-left
        %span Project Management
      .project__block.block-project
        .block-project__image
          = image_tag 'services/image-1.jpg', alt: 'Project Management', height: '478', width: '556'
        .block-project__info
          %h1.block-project__title.section-title Project Management
          .block-project__desc
            %p One Contract, One Entity to Pay, One Place to turn for Warranty Issues should they arise.
            %p Services include:
            %p Finding properties to purchase, negotiating the purchase, financing the deals, selecting and engaging architects and designers and engaging all necessary consultants and engineers, securing permits, execution of construction work, purchasing of all hard and soft goods, helping with specialty imports, custom fabrication, and thorough oversight and communication

#high-end.project.modal
  .project__container.container
    %button.back-to.btn-reset
      %svg{fill: "none", height: "24", viewbox: "0 0 13 29", width: "8"}
        %path{d: "M12 28L2 14.5L12 1", stroke: "white", "stroke-width" => "2"}
      Back
    .project__content
      .section-label.to-left
        %span General Contracting
      .project__block.block-project
        .block-project__image
          = image_tag 'services/image-2.jpg', alt: 'General Contracting', height: '478', width: '556'
        .block-project__info
          %h1.block-project__title.section-title General Contracting
          .block-project__desc
            %p Assisting in servicing contracts with each entity needed to execute the project, approving payment requests, along with assisting in all areas that are offered in the General Contracting service in the role of client representative/consultant.
