%section.services
  .services__container.container
    .services__inner
      .section-label.to-left
        %span Services
      .services__content
        .services__block.block-services.active
          .block-services__image
            = image_tag 'services/image-1.jpg', alt: '', height: '298', width: '591'
          %h3.block-services__title Luxorious Property Project Management & Construction.
        .services__block.block-services
          .block-services__image
            = image_tag 'services/image-2.jpg', alt: '', height: '298', width: '591'
          %h3.block-services__title High End Property Project Management & Construction.
%section.property
  .property-slider.swiper
    .swiper-wrapper
      .property__slide.swiper-slide
        .property__image
          = image_tag 'services/image-1.jpg', alt: '', height: '298', width: '591'
        .property__container.container
          .section-label.to-left
            %span Services
          .property__content
            %span 01
            %h1.property__title Luxurious Property Project Management & Construction.
            %button.property__button.btn-primary.btn-reset{"data-modal" => "luxurious-property"} Read more
      .property__slide.swiper-slide
        .property__image
          = image_tag 'services/image-2.jpg', alt: '', height: '298', width: '591'
        .property__container.container
          .section-label.to-left
            %span Services
          .property__content
            %span 02
            %h1.property__title High End Property Project Management & Construction.
            %button.property__button.btn-primary.btn-reset{"data-modal" => "high-end"} Read more
    .swiper-button-prev
    .swiper-button-next

#luxurious-property.project.modal
  .project__container.container
    %button.back-to.btn-reset
      %svg{fill: "none", height: "24", viewbox: "0 0 13 29", width: "8"}
        %path{d: "M12 28L2 14.5L12 1", stroke: "white", "stroke-width" => "2"}
      Back
    .project__content
      .section-label.to-left
        %span Luxurious Property
      .project__block.block-project
        .block-project__image
          = image_tag 'services/image-1.jpg', alt: 'Luxurious Property Project Management & Construction.', height: '478', width: '556'
        .block-project__info
          %h1.block-project__title.section-title Luxurious Property Project Management & Construction.
          .block-project__desc
            %p Dov Kram Ltd construction company is one that is known for its high-quality work, attention to detail, and customer satisfaction. We employ skilled and experienced professionals who are able to handle all aspects of the construction process, from initial planning and design to final completion and cleanup. We use the best materials and techniques to ensure that the finished product is durable, functional, and aesthetically pleasing.
            %p Dov Kram Ltd is also known for its reliability and professionalism, completing projects on time and within budget. Overall, Dov Kram Ltd is one that is highly regarded in the industry and trusted by its clients to deliver exceptional results.
#high-end.project.modal
  .project__container.container
    %button.back-to.btn-reset
      %svg{fill: "none", height: "24", viewbox: "0 0 13 29", width: "8"}
        %path{d: "M12 28L2 14.5L12 1", stroke: "white", "stroke-width" => "2"}
      Back
    .project__content
      .section-label.to-left
        %span High End Property
      .project__block.block-project
        .block-project__image
          = image_tag 'services/image-2.jpg', alt: 'High End Property Project Management & Construction.', height: '478', width: '556'
        .block-project__info
          %h1.block-project__title.section-title High End Property Project Management & Construction.
          .block-project__desc
            %p Dov Kram Ltd construction company is one that is known for its high-quality work, attention to detail, and customer satisfaction. We employ skilled and experienced professionals who are able to handle all aspects of the construction process, from initial planning and design to final completion and cleanup. We use the best materials and techniques to ensure that the finished product is durable, functional, and aesthetically pleasing.
            %p Dov Kram Ltd is also known for its reliability and professionalism, completing projects on time and within budget. Overall, Dov Kram Ltd is one that is highly regarded in the industry and trusted by its clients to deliver exceptional results.
