!!!
%html.page{ lang: "en" }
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{ charset: "UTF-8"}
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %link{ href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}
    %link{ rel: "preload", href: font_url("Alef-Regular.woff2"), as: "font", type: "font/woff2", crossorigin: 'true' }
    %link{ rel: "preload", href: font_url("calibri.woff2"), as: "font", type: "font/woff2", crossorigin: 'true' }
    %meta{ content: "ie=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{ content: "#111111", name: "theme-color"}

    = csrf_meta_tags
    = csp_meta_tag

    %title Dov Kram, Ltd.

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body.page__body
    - if current_page?(root_path)
      #preloader

    .site-container
      = render 'shared/header'
      %main.main
        = yield

      - unless current_page?(root_path) || current_page?(contacts_path)
        = render 'shared/footer'
