!!!
%html.page{ lang: I18n.locale.to_s }
  %head
    / Google tag (gtag.js)
    %script{ async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-HQVXTGH801" }
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HQVXTGH801');

    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{ charset: "UTF-8"}
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %link{ href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}
    %link{ rel: "preload", href: font_url("Alef-Regular.woff2"), as: "font", type: "font/woff2", crossorigin: 'true' }
    %link{ rel: "preload", href: font_url("calibri.woff2"), as: "font", type: "font/woff2", crossorigin: 'true' }
    %meta{ content: "ie=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{ content: "#111111", name: "theme-color"}

    = csrf_meta_tags
    = csp_meta_tag

    %title= "#{t('page_title.main_page')} #{content_for?(:title) ? "| #{yield(:title)}" : ''}"

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body.page__body
    - if current_page?(root_path)
      #preloader

    .site-container
      = render 'shared/header'
      %main.main
        = yield

      - unless current_page?(root_path) || current_page?(contacts_path)
        = render 'shared/footer'
